{% assign papers = site.data.research-output %}
{% assign papers = papers | sort: "date" | reverse %}
{% assign byyear = papers | group_by_exp: "post", "post.date | date: '%Y'" | sort: "name" | reverse %}

{% for yeargroup in byyear %}

### {{ yeargroup.name }}
{:.card_search_hide}

{% for paper in yeargroup.items %}

{% assign authors = paper.authors | join: ", " %}

{%- capture details -%}
{{- paper.publisher -}}
&nbsp; · &nbsp;
{{- paper.date | date: "%d %b %Y" -}}
{%- endcapture -%}

{% capture tags %}
{% include tags.html tags=paper.tags repo=paper.repo %}
{% endcapture %}

{% endfor %}

{% endfor %}
